[submodule "src/Imports/glew"]
	path = src/Imports/glew
	url = https://github.com/nigels-com/glew.git
[submodule "src/Imports/glfw"]
	path = src/Imports/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/Imports/glm"]
	path = src/Imports/glm
	url = https://github.com/g-truc/glm.git
